.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;

  border-radius: 8px;
  border: 1px solid #f2f2f2;
  background-color: #f2f2f2;

  transition: border-color 0.2s linear;

  &:hover {
    border-color: #3399ff;
  }
}

.title {
  margin-bottom: 16px;

  font-weight: 700;
  color: #3399ff;
}

.description {
  font-size: 14px;
  margin-bottom: 24px;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 16px;
}

.status {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.status_icon_container {
  width: 8px;
  height: 8px;

  border-radius: 50%;
  background-color: #000000;
}

.status_title {
  font-size: 13px;
}

.details_link {
  display: block;

  padding: 4px 0;

  font-size: 14px;
  text-align: center;
  color: #f2f2f2;

  border-radius: 8px;
  background-color: #3399ff;

  transition: background-color 0.2s linear;

  &:hover {
    background-color: #4da6ff;
  }
}

.deadline {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.deadline_icon_container {
  width: 10px;
  height: 10px;

  background-image: url('../../assets/icons/icon-deadline.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.deadline_icon_container_danger {
  background-image: url('../../assets/icons/icon-deadline-danger.svg');
}

.deadline_title {
  font-size: 13px;
}

.deadline_title_danger {
  color: #ff0000;
}

